*{
    margin: 0;
    padding: 0;
}
div#navbarNavAltMarkup {
    flex: inherit !important;
}
a.nav-link {
    padding: 0px 24px !important;
}
.headerBg {
    background-image: url(./img/bg-hedar.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.headerSection {
    height: 500px;
    width: 100%;
}
.headerCustom {
    height: 500px;
}
.headerCustom h1 {
    padding-bottom: 25px;
}
.headerCustom p {
    font-size: 13px;
    max-width: 600px;
    color: gray;
    padding-bottom: 16px;
}
.headerCustom button {
    border: none;
    background: white;
    border-radius: 11px;
    padding: 3px 20px;
    color: #FFA041;
    font-weight: 500;
    box-shadow: 3px 5px 9px #00000030;
    font-size: 16px;
}
.headerCustom img.img-fluid {
    width: 72%;
}
.sec2 {
    margin-top: 90px;
}
.sec2 h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.sec2 h5.card-title {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.sec2 p.card-text {
    text-align: center;
    width: 180px;
    margin: auto;
    font-size: 14px;
}
.sec2 img.card-img-top {
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.sec2Row {
    margin-top: 50px;
}
.sec2 .card {
    border: none;
}
section.customArrow.row {
    position: relative;
    bottom: 185px;
}
.customArrow .arrowImg {
    position: relative;
    margin-left: -22px;
}
.arrowImg2 {
    left: 20px;
}
.secMar {
    top: 100px;
    position: relative;
}
.secMar2 {
    top: 150px;
    position: relative;
}
.card2 {
    top: 140px;
    position: relative;
}
.card2 img {
    width: 210px !important;
}
.card2 .sec2Row {
    margin-top: 35px !important;
}